@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{string theme = Context.Request.Cookies["theme"]; }
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Course_Project</title>
    @if (theme == "light" || theme == null)
    {
        <link id="theme" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }
    else
    {
        <link id="theme" rel="stylesheet" href="~/css/bootsstrap.min.dark.css" />
    }
    <link rel="stylesheet" href="~/css/simple-sidebar.css" />
    <link rel="stylesheet" href="~/lib/bootstrap4-editable/css/bootstrap-editable.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/tagify/tagify.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <div class="d-flex align-items-stretch" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">HEADER</div>
            <div class="list-group list-group-flush">

                <a asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action bg-light">@Localizer["Index"]</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-controller="Panel" asp-action="Index" asp-route-pageNumber="1" class="list-group-item list-group-item-action bg-light">@Localizer["AdminPanel"]</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Profile" asp-action="Detail" asp-route-userName="@User.Identity.Name" class="list-group-item list-group-item-action bg-light">@Localizer["Profile"]</a>
                    <a asp-controller="Auth" asp-action="Logout" class="list-group-item list-group-item-action bg-light">@Localizer["SignOut"]</a>
                }
                else
                {
                    <a asp-controller="Auth" asp-action="Login" class="list-group-item list-group-item-action bg-light">@Localizer["Login"]</a>
                    <a asp-controller="Auth" asp-action="Register" class="list-group-item list-group-item-action bg-light">@Localizer["Registration"]</a>
                }

            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-info navbar-toggler-icon" id="menu-toggle"></button>
                <div class="navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li></li>
                        <li class="nav-item active">
                            @if (theme == null || theme == "light")
                            {
                                <i id="BtnChangeTheme" style="cursor: pointer;" class="bi bi-brightness-high-fill mr-2"></i>
                            }
                            else
                            {
                                <i id="BtnChangeTheme" style="cursor: pointer;" class="bi bi-brightness-high mr-2"></i>
                            }
                            @await Html.PartialAsync("_SelectLanguagePartial")

                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid mt-3">
                <form id="formSearch" asp-controller="Home" asp-action="Index" method="GET">
                    <div class="d-flex input-group mb-2">
                        <input name="pageNumber" hidden value="1" />
                        <input name="search" id="searchValue" type="text" class="form-control " placeholder="@Localizer["placeholderSearch"]">
                        <div class="input-group-append">

                            <button id="searchButton" class="btn btn-success" type="button">@Localizer["btnSearch"]</button>
                        </div>
                    </div>
                </form>

                @RenderBody()
            </div>

        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap4-editable/js/bootstrap-editable.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $('#searchButton').click(function () {
            $('#formSearch').prop('asp-route-search', $('#searchValue').val());
            
            $('#formSearch').submit();
        });
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $("#BtnChangeTheme").click(function () {
            $.ajax({
                type: 'POST',
                url: 'https://' + $(location).attr('host') + '/Home/ChangeTheme',
                data: { url: $(location).attr("href")},
                success: function (response) {
                    window.location.href = response.redirectToUrl;
                }
            });
            @*var link = document.createElement('link');
            link.rel = "stylesheet";
            link.type = "text/css";


            var theme = '@Context.Request.Cookies["theme"]';
            if (theme == null || theme == "light") {
                $('#theme').remove();
                link.href = "/lib/bootstrap/dist/css/bootstrap.min.css";
            } else {
                $('#theme').remove();
                link.href = "/css/bootsstrap.min.dark.css";
            }
            document.head.appendChild(link);*@
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
